


    /* General */

:root{
    --color1:#1B5B31;
    --color2:#DCC1AB;
    --color3:#F5F0EC;
    --color4:#111111;
}

@font-face{
    src:url(fonts/Montserrat-VariableFont_wght.ttf);
    font-family:font1;
    font-display:fallback;
}

@font-face{
    src:url(fonts/Inter-VariableFont_slnt,wght.ttf);
    font-family:font2;
    font-display:fallback;
}

h1, h2, h3, h4, h5, h6{
    font-family:font1 !important;
}

button, a, p, i, b, span{
    font-family:font2 !important;
    line-height:1.5;
}

h1, h2, h3, h4, h5, h6, button, a, p, i, b, span{
    color:var(--color4) !important;
    text-wrap:balance;
}

h1{
    font-size:60px;
    line-height:70px;
}
h2{
    font-size:48px;
    line-height:1.15;
    letter-spacing:-1px;
}
h3{
    font-size:28px;
    line-height:1.15;
    letter-spacing:-1px;
}

:is(h1, h2, h3) i{
    letter-spacing:0;
}

@media screen and (width < 1400px){

    h1{
        font-size:min(46px, 7vw);
    }
    h2{
        font-size:min(36px, 6vw);
    }
    
}

main{
    background-color:var(--color2);
}



    /* Nav */

.navbar-toggler{
    padding:4px 0 !important;
    border:none !important;
    box-shadow:none !important;
}

.nav-link:not(.search-box){
    width:auto !important;
    padding:8px 16px !important;
    position:relative;

    font-size:14px;
    transition:0.1s;

    & span{
        display:inline-block;
    }

    &:before,
    &:after,
    & span:before,
    & span:after{
        content:"";
        position:absolute;
        background:var(--color1);
        transition:0.2s ease-in-out;
    }

    &:before,
    &:after{
        width:0;
        height:1px;
    }

    & span:before,
    & span:after{
        width:1px;
        height:0;
    }

    &:hover:before,
    &:hover:after{
        width:100%;
    }

    &:hover span:before,
    &:hover span:after{
        height:100%;
    }

    &:after,
    & span:after{
        right:0;
        bottom:0;
        transition:0.25s ease-in-out;
    }

    &:before,
    & span:before{
        left:0;
        top:0;
        transition:0.25s ease-in-out;
    }

}

.nav-sublist-btn span img{
    transform:rotate(180deg);
    transition:0.15s;
}

.nav-sublist-btn.collapsed span img{
    transform:rotate(0deg);
}

.nav-sublist{
    position:absolute;
    left:50%;
    transform:translate(-50%, 0);

    background-color:#FFF;
    z-index:1000;
}

.nav-sublist a{
    padding:8px 32px !important;
}

@media screen and (width < 992px){

    .navbar-nav{
        width:100%;
        padding:16px 32px;

        position:absolute;
        top:100%;
        right:0;

        background-color:#FFF;
        z-index:1000;
    }

    .nav-sublist{
        width:auto;
        top:100%;
        left:auto;
        right:0;
        transform:translate(0, 0);
    }

    .nav-item{
        order:1;
        width:100% !important;
        display:flex;
        justify-content:flex-end;
    }

    .search-nav-item{
        order:0;
        padding-bottom:16px;
    }

    .nav-link:not(.search-box, button){
        width:100%;
        display:flex;
        justify-content:flex-end;
    }

}

@media screen and (width >= 992px){

    .remove-container{
        width:inherit !important;
        max-width:inherit !important;
        padding:inherit !important;
        margin:inherit !important;
    }

}

@media screen and (width < 576px){

    .navbar-nav{
        padding-left:0;
        padding-right:0;
    }

}



        /* Searchbox */

.search-box{
    position:relative;
}

.search-input{
    width:0;
    min-width:0;
    height:48px;
    padding:0;
    margin:0;

    position:absolute;
    top:calc(100% + 8px);
    right:0;

    opacity:0;
    background-color:#FFF;
    border:solid 1px var(--color1);
    border-radius:0 0 8px 8px;
    transition:0.15s;
    z-index:1000;
}

.search-input:focus{
    outline:none;
    box-shadow:0 0 1px 1px var(--color1);
}

.search-open .search-input{
    width:300px;
    padding:0 12px;
    opacity:1;
    border-color:var(--color1);
}

.search-icon{
    height:22px;
    width:22px;

    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.search-icon svg{
    width:100%;
    height:100%;
}

@media screen and (width < 992px){

    .search-box{
        width:100%;
        display:flex;
        align-items:center;
        gap:8px;
    }

    .search-input,
    .search-open .search-input{
        flex:1;
        width:auto;
        height:32px;
        padding:0 12px;

        position:static;
        transform:translate(0, 0);

        border-radius:8px;
        opacity:1;
    }

}



    /* Hero & About Section */

.carousel{
    height:750px;
    background-color:var(--color2);
}

.about-section{
    height:720px;
    background-color:var(--color1);

    & *{
        color:var(--color3) !important;
    }

    & h2{
        max-width:250px;
    }
}

.hero-left{
    height:100%;
    padding:144px 64px 144px 0.75rem !important;
}

.about-section .hero-left{
    padding:144px 96px !important;
}

.hero-btn{
    padding:12px 24px;
    text-decoration:none;

    border:solid 1px transparent;
    border-radius:200px;
    transition:0.15s;
}

.hero-btn:hover{
    box-shadow:0 0 1px 1px var(--color1);
}

.hero-btn1{
    background-color:var(--color1);
    color:var(--color3) !important;
}

.hero-btn1:hover{
    background-color:transparent;
    color:var(--color1) !important;
}

.hero-btn2{
    border:solid 1px var(--color1);
    color:var(--color1);
    border-color:var(--color1);
}

.about-section .hero-btn2{
    border:solid 1px var(--color3);

    &:hover{
        box-shadow:0 0 1px 1px var(--color3);
    }

    & img{
        transform:rotate(-90deg);
    }
}

.hero-right{
    width:calc(50vw - 32px);
    position:absolute;
    top:0;
    left:calc(50% + 32px);
}

.about-section .hero-right{
    left:0;
}

.hero-right img{
    width:100%;
    height:100%;
    object-fit:cover;
}

        /* Hero Nav */

.hero-nav{
    position:absolute;
    right:0;
    bottom:0;

    display:flex;
    background-color:var(--color3);
    z-index:100;
}

.hero-nav button{
    width:96px;
    aspect-ratio:1/1;
    position:static !important;

    display:flex;
    justify-content:center;
    align-items:center;

    & img{
        transition:0.15s;
    }

    &:hover img{
        scale:1.2;
    }
}

.hero-nav button:nth-child(2) img{
    transform:rotate(180deg);
}

@media screen and (width < 1200px){

    .about-section .hero-left{
        padding:96px !important;
    }
    
}

@media screen and (width < 992px){

    .carousel,
    .about-section{
        height:auto;
    }

    .hero-left,
    .about-section .hero-left{
        width:720px;
        height:460px;
        padding:64px 0.75rem !important;
    }

    .about-section .hero-left{
        height:auto;

        & h2{
            max-width:none;
        }
    }

    .hero-right{
        width:100%;
        position:static;
    }

    .hero-right img{
        height:460px;
    }

    .hero-nav{
        bottom:460px;
        transform:translate(0, 100%);
    }
    
}

@media screen and (width < 768px){

    .hero-left{
        height:550px;
    }
}



    /* Section Heading */

.section-heading{
    padding-top:120px;
    padding-bottom:96px;
}

.subtitle{
    color:var(--color1);
    font-size:12px;
    font-family:font2;
}

.section-title i{
    font-family:font2;
}

.section-text{
    max-width:710px;
}



    /* Offer Section */

.offer-section{
    min-height:200px;
    background-color:var(--color3);
}

.offer-section .section-heading{
    padding-left:120px;
    padding-right:120px;
}

.cards{
    padding-bottom:160px;
}

.card{
    flex:1;
    height:370px;
    padding:48px 40px;
    border-radius:28px;

    cursor:pointer;
    transition:0.15s;

    &:hover{
        box-shadow:0 0 10px 1px var(--color4);
    }

    &:hover .card-link span{
        padding-left:8px;
    }

    &:hover .card-icon *{
        fill:var(--color1);
    }

}

.card-icon{
    width:40px;
    aspect-ratio:1/1;
    margin-bottom:32px;
    transform:scale(1.25);

    & *{
        transition:0.15s;
        fill:var(--color4);
    }

}

.card-icon1{

    & .anim-elem1{
        transform-origin:151px 45px;
        animation:cardIcon1a 7s ease-in-out infinite;
    }

    & .anim-elem2{
        transform-origin:125px 125px;
        animation:cardIcon1b 7s ease-in-out infinite;
    }
    
}

@keyframes cardIcon1a{
    0%{
        scale:1;
    }
    5%{
        scale:0;
    }
    20%{
        scale:0;
    }
    25%{
        scale:1.2;
    }
    30%{
        scale:1;
    }
}

@keyframes cardIcon1b{
    0%{
        transform:rotate(0);
    }
    5%{
        transform:rotate(20deg);
    }
    9%{
        transform:rotate(-15deg);
    }
    15%{
        transform:rotate(12deg);
    }
    25%{
        transform:rotate(-8deg);
    }
    35%{
        transform:rotate(0);
    }
}

.card-icon2{

    & .anim-elem1{
        transform-origin:100px 54px;
        animation:cardIcon2a 7s ease-in-out infinite;
        animation-delay:1s;
    }

    & .anim-elem2{
        transform-origin:100px 146px;
        animation:cardIcon2a 7s ease-in-out infinite;
        animation-delay:1s;
    }

}

@keyframes cardIcon2a{
    0%{
        transform:scale(1, 1);
    }
    5%{
        transform:scale(1, 3.5);
    }
    11%{
        transform:scale(1, 1);
    }
    19%{
        transform:scale(1, 2);
    }
    30%{
        transform:scale(1, 2);
    }
    35%{
        transform:scale(1, 1);
    }
    40%{
        transform:scale(1, 3.5);
    }
    45%{
        transform:scale(1, 1);
    }
}

.card-icon3{

    & .anim-elem{
        transform-origin:151px 45px;
        animation:cardIcon1a 7s ease-in-out infinite;
    }
    & .anim-elem1{
        transform-origin:116px 129px;
        animation-delay:2s;
    }
    & .anim-elem2{
        transform-origin:169px 69px;
        animation-delay:2.2s;
    }
    & .anim-elem3{
        transform-origin:65px 77px;
        animation-delay:2.4s;
    }
    & .anim-elem4{
        transform-origin:172px 178px;
        animation-delay:2.6s;
    }
    & .anim-elem5{
        transform-origin:68px 182px;
        animation-delay:2.8s;
    }
    & .anim-elem6{
        transform-origin:184px 119px;
        animation-delay:3s;
    }
    & .anim-elem7{
        transform-origin:57px 146px;
        animation-delay:3.2s;
    }
    & .anim-elem8{
        transform-origin:112px 61px;
        animation-delay:3.4s;
    }
    & .anim-elem9{
        transform-origin:126px 189px;
        animation-delay:3.6s;
    }
    
}

.card-title{
    margin-bottom:12px;
}

.card-text{
    font-size:14px;
}

.card-link{
    margin-top:auto;
    padding-bottom:4px;
    color:var(--color1);
    border-bottom:solid 1px var(--color1);

    & span {
        transition:0.15s;

        & img{
            height:16px;
            padding-left:4px;
            transform:rotate(-90deg);
        }

    }
    
}

@media screen and (width < 1200px){

    .card-link{
        font-size:14px;
    }
    
}

@media screen and (width < 992px){

    .offer-section .section-heading{
        padding-left:0;
        padding-right:0;
    }

    .card{
        flex:100%;
        height:auto;
        min-height:350px;
    }

    .card-link{
        margin-top:40px;
    }
    
}



    /* Gallery */

.gallery-div{
    position:relative;
    overflow:hidden;
}

.gallery{
    max-height:160vh;
    position:relative;

    display:flex;
    gap:20px;
}

.gallery:after{
    content:"";
    width:100%;
    height:100%;

    position:absolute;
    top:0;
    left:0;

    background:linear-gradient(to bottom, transparent 0%, transparent 30%, #DCC1AB 100%);
    pointer-events:none;
    z-index:100;
}

.gallery-item{
    width:200px;
    overflow:hidden;
    transition:0.25s;

    &:hover{
        box-shadow:0 0 10px 1px var(--color4);
    }

    &:after{
        content:"";
        width:100%;
        height:100%;
    
        position:absolute;
        top:0;
        left:0;

        z-index:100;
        transition:0.25s;
        cursor:pointer;
    }

    &:hover:after{
        box-shadow:inset 0 0 50px 0 rgb(0,0,0,0.75);
    }

    &:hover img{
        scale:1.2;
    }

}

.gallery-img{
    width:100%;
    height:100%;
    position:relative;
    transition:0.25s;
}

        /* Gallery Expand */

.gallery-btn{
    padding:12px 24px;

    position:absolute;
    bottom:90px;
    left:50%;
    transform:translate(-50%, 0);

    display:flex;
    justify-content:center;
    align-items:center;

    color:var(--color4);
    background-color:transparent;
    border:solid 1px var(--color4);
    border-radius:200px;

    transition:0.15s;
    z-index:1000;

    & img{
        transition:0.15s;
    }
}

.gallery-btn:hover{
    color:var(--color3) !important;
    background-color:var(--color4) !important;
    box-shadow:0 0 1px 1px var(--color4);

    & img{
        filter:invert(1);
    }
}

.gallery-btn:before{
    content:"Rozwiń";
}

.gallery-expand{

    .gallery{
        max-height:none;

        &:after{
            background:transparent;
        }

    }

    .gallery-btn{
        background-color:#DCC1ABDD;
    }

    .gallery-btn span{
        transform:rotate(180deg);
    }

    .gallery-btn:before{
        content:"Zwiń";
    }
}

        /* Gallery Modal */

.btn-close{
    transition:0.15s;

    &:hover{
        scale:1.2;
    }
    
}

.gm-img{
    width:100%;
}

.gm-btn{
    width:200px;
    height:40px;

    display:flex;
    justify-content:center;
    align-items:center;

    color:var(--color4);
    background-color:transparent;
    border:solid 1px var(--color4);
    border-radius:200px;
    transition:0.15s;

    &:hover{
        box-shadow:0 0 1px 1px var(--color4);
    }
}

.gm-btn img{
    height:100%;
    transition:0.15s;
}

.gm-btn:hover img{
    scale:1.2;
}

.gm-next img{
    transform:rotate(180deg);
}

@media screen and (width < 576px){

    .gm-img{
        width:auto;
        height:100%;
    }

    .gm-btn{
        width:auto;
        flex:1;
    }

}



    /* Insta */

.insta{
    padding:60px 190px;
    background-color:var(--color3);

    & *{
        color:var(--color3) !important;
    }
}

.insta .container{
    padding:120px 110px;
    background-color:var(--color1);
}

.insta h3{
    font-size:40px !important;
}

.insta-right{
    width:170px;

    & a{
        padding:12px 24px;
        background-color:var(--color3);
        color:var(--color1) !important;
        border:solid 1px transparent;
        border-radius:200px;
        transition:0.15s;
    }

    & a:hover{
        color:var(--color3) !important;
        background-color:var(--color1);
        border-color:var(--color3);
        box-shadow:0 0 1px 1px var(--color3);
    }

}

@media screen and (width < 1400px){

    .insta-left h3{
        font-size:min(32px, 5.5vw) !important;
    }

    .insta-right{
        width:auto;
    }

}

@media screen and (width < 1200px){

    .insta{
        padding:60px;
    }

}

@media screen and (width < 768px){

    .insta{
        padding:0;
    }

    .insta .container{
        width:100%;
        max-width:none;
        margin:0;
        padding:96px 48px;
        background-color:var(--color1);
    }

}



    /* Footer */

footer{
    min-height:500px;
    padding:80px 190px;
    background-color:var(--color4);

    & *{
        color:var(--color3) !important;
        text-align:center;
    }

}

.footer-section1{
    padding-bottom:62px;
    margin-bottom:62px;
    border-bottom:solid 1px var(--color3);

    & a{
        padding:12px 24px;
        background-color:var(--color1);
        border:solid 1px transparent;
        border-radius:200px;
        transition:0.15s;
    }

    & a:hover{
        border-color:var(--color3);
        box-shadow:0 0 1px 1px var(--color3);
        background-color:transparent;
    }

}

.footer-logo{
    width:115px;
}

.footer-more{
    gap:48px;
}

.footer-section2 a{
    position:relative;
    transition:0.15s;

    &:hover{
        color:var(--color2) !important;
    }

    &:after{
        content:"";
        width:0;
        height:1px;

        position:absolute;
        top:100%;
        left:50%;
        transform:translate(-50%, 0);

        background-color:var(--color2);
        transition:0.15s;
    }

    &:hover:after{
        width:100%;
    }

}

.footer-section3{
    padding-top:62px;
}

@media screen and (width < 1200px){

    footer{
        padding:80px 60px;
    }

}

@media screen and (width < 992px){

    .footer-contact{
        gap:8px;
    }

}

@media screen and (width < 768px){

    footer{
        padding:80px 48px;
    }

    .footer-inner{
        max-width:none;
    }

}

@media screen and (width < 576px){

    .footer-more a{
        flex:40%;
        text-align:center;
    }

}